body {
  text-align: center;
  font-family: sans-serif;
  background-color: whitesmoke;
}
/* for overall the images */
img {
  height: 25px;
}
/* for the heading*/
h1 > span {
  font-weight: 500;
}
/* all the inputs */
input {
  font-size: 15px;
  margin: 2px;
}
/* for the input tag to enter the title and list */
#form > input {
  width: 500px;
  height: 25px;
  margin-left: 40px;
  padding: 3px;
}
/* division of the todo list in the front page */
#todo-list {
  width: 40%;
  display: inline-block;
  height: 600px;
  overflow: scroll;
}
/* each list in the division of the front page */
.title {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bolder;
  font-size: larger;
  word-wrap: break-word;
}
/* on hover the particular title and particular item becomes little dim */
.title:hover,
.tasks:hover {
  background-color: wheat;
}
/* on hover the delete option will be visible */
.title:hover > .delete,
.tasks:hover > .delete {
  display: block;
}
/* to display the lists in the todo */
.tasks {
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
}
/* for the delete icon */
.delete {
  display: none;
  padding: 3px;
  height: 15px;
}
/* for add option in the front page */
#add {
  float: center;
  font-size: 15px;
}
/* this is for the todo form for entering */
#form {
  display: flex;
  flex-direction: column;
}
/* this is used for closing in the lists divisions */
.close {
  float: right;
  margin-top: 0px;
}
/* for all the icons on hover and on focus the pointer will be displayed on it */
img:hover,
img:focus,
.close:hover,
.close:focus {
  cursor: pointer;
}
/* to display the item in that list */
.tasks > div {
  padding-top: 10px;
}
/* pop up */
/* background of the popup display */
.listBlock {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
/* on background the content box to display */
.display {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
/* in add option in the existing list */
.display > img {
  height: 20px;
}
p {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
hr {
  padding: 0px;
}
